<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/lib/html5shiv.js"></script>
    <script type="text/javascript" src="/lib/respond.min.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="/static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link type="text/css" rel="stylesheet" href="/static/h-ui.admin/css/H-ui.admin.css"/>
    <link type="text/css" rel="stylesheet" href="/static/h-ui.admin/css/style.css"/>
    <![endif]-->
    <title>新增客户</title>
</head>
<body>
<article class="page-container">
    <form class="form form-horizontal">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">企业名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box inline"><select class="select" style="width:188px" size="1"  id="enter_id"></select></span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">客户姓名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" style="width:200px" class="input-text" value="" placeholder="" id="name">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>性别：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="radio-box">
                    <input name="_sex" type="radio" id="sex-1" value="男" checked>
                    <label for="sex-1">男</label>
                </div>
                <div class="radio-box">
                    <input type="radio" id="sex-0" value="女" name="_sex">
                    <label for="sex-0">女</label>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">客户部门：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" style="width:200px" class="input-text" value="" placeholder="" id="department">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">客户职位：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" style="width:200px" class="input-text" value="" placeholder="" id="position">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">出生日期：</label>
            <input type="date" style="width: 200px; margin-left: 15px;"
                   class="input-text" value="" placeholder="" id="birthday"
                   name="_birthday">
          </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">客户电话：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <input type="text" style="width:200px" class="input-text" value="" placeholder="" id="phone" name="phone">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">客户邮箱：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <input type="text" style="width:200px" class="input-text" value="" placeholder="" id="email" name="email">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">客户微信：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <input type="text" style="width:200px" class="input-text" value="" placeholder="" id="weChat" >
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">客户QQ：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" style="width:200px" class="input-text" value="" placeholder="" id="qq" >
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">联系记录：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea rows="10" cols="30" id="contact_desc" name="contact_desc"></textarea>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">客户需求：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea rows="10" cols="30" id="requirement" name="requirement"></textarea>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">兴趣爱好：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea rows="10" cols="30" id="interest" name="interest"></textarea>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">指派人：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box inline">
                <select class="select" size="1" name="user_name" id="user_name" style="width:188px">
                </select></span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">创建人：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" style="width:200px" class="input-text" value="" placeholder="" disabled="disabled" id="create_name" name="create_name">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">客户状态：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box inline">
                <select class="select" size="1" style="width: 188px;" id="status">
					<option value="潜在">潜在</option>
					<option value="签约">签约</option>
					<option value="正式">正式</option>
					<option value="放弃">放弃</option>
				</select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button class="btn btn-primary radius" type="button" id="submit"><i class="Hui-iconfont">&#xe676;</i> 提交</button>
                <button class="btn btn-primary radius" type="button"><a style="color: white" href="javascript:location.replace(location.href);"><i class="Hui-iconfont">&#xe68f;</i> 重置</a></button>
            </div>
        </div>
    </form>
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="/js/customer-add.js"></script>
</body>
</html>
