<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/lib/html5shiv.js"></script>
    <script type="text/javascript" src="/lib/respond.min.js"></script>
    <![endif]-->
    <link href="https://cdn.bootcss.com/jqueryui/1.12.0/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>权限管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 员工管理 <span class="c-gray en">&gt;</span> 权限管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-c">
        姓名：<input type="text" class="input-text" style="width:100px" placeholder="支持模糊查询" id="select_username">
        性别:
        <span class="select-box inline">
        <select id="select_sex" class="select">
        <option value="100" selected>全部</option>
        <option value="男">男</option>
        <option value="女">女</option>
        </select>
        </span>
        权限:
        <span class="select-box inline">
        <select id="select_role" class="select">
        <option value="100" selected>全部</option>
        <option value="admin">admin</option>
        <option value="user">user</option>
        </select>
        </span>
        状态:
        <span class="select-box inline">
        <select id="select_status" class="select">
        <option value="100" selected>全部</option>
        <option value="1">启用</option>
        <option value="0">停用</option>
        </select>
        </span>
        <button type="submit" class="btn btn-success" id="query_data" name=""><i class="Hui-iconfont">&#xe665;</i> 查询</button>
    </div>
    <table style="margin-top: 20px" class="table table-border table-bordered table-bg table-hover">
        <thead>
        <tr>
            <th scope="col" colspan="7">权限列表<span class="r">共有数据:<strong id="data-line"></strong> 条</span></th>
        </tr>
        <tr class="text-c">
            <th width="15"><input type="checkbox" name="" value=""></th>
            <th width="40">ID</th>
            <th width="50">权限</th>
            <th width="50">姓名</th>
            <th width="25">性别</th>
            <th width="50">状态</th>
            <th width="50">操作</th>
        </tr>
        </thead>
        <tbody id="user-role">
        </tbody>
    </table>
</div>
<div id="dialog" title="修改权限" hidden="hidden">
    权限：<select id="select_dialog">
    <option value="admin" selected>admin</option>
    <option value="user">user</option>
</select>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="/js/user-role.js"></script>
<script src="https://cdn.bootcss.com/jqueryui/1.12.0/jquery-ui.js"></script>
</body>
</html>
