<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winger.mapper.OrdersMapper">
    <select id="getOrders" parameterType="com.winger.entity.Orders" resultType="com.winger.entity.Orders">
        select * from orders order by orders.id desc
    </select>
    <insert id="addOrder" parameterType="com.winger.entity.Orders">
        insert into orders (name, price, `count`, buyer, phone, address, create_time) values
        (#{name}, #{price}, #{count}, #{buyer}, #{phone}, #{address}, #{create_time})
    </insert>
    <delete id="delOrder" parameterType="int">
        delete from orders where id=#{id}
    </delete>
    <update id="updateOrder" parameterType="com.winger.entity.Orders">
        update orders set
        name=#{name},
        price=#{price},
        `count`=#{count},
        buyer=#{buyer},
        phone=#{phone},
        address=#{address},
        create_time=#{create_time}
        where id=#{id}
    </update>
</mapper>
