<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winger.mapper.SalesMapper">
    <insert id="addSale" parameterType="com.winger.entity.Sales">
        insert into sale (product_id, product_name, years, january, february, march, april, may, june, july, august, september, october, november, december, yearSales) values (
        #{product_id}, #{product_name}, #{years}, #{january}, #{february}, #{march}, #{april}, #{may}, #{june}, #{july}, #{august}, #{september}, #{october}, #{november}, #{december}, #{yearSales})
    </insert>
    <update id="updateSale" parameterType="com.winger.entity.Sales">
        update sale set
        product_id=#{product_id},
        product_name=#{product_name},
        years=#{years},
        january=#{january},
        february=#{february},
        march=#{march},
        april=#{april},
        may=#{may},
        june=#{june},
        july=#{july},
        august=#{august},
        september=#{september},
        october=#{october},
        november=#{november},
        december=#{december},
        yearSales=#{yearSales}
        where id=#{id}
    </update>
    <delete id="delSale" parameterType="int">
        delete from sale where id=#{id}
    </delete>
    <select id="getSales" resultType="com.winger.entity.Sales">
        select * from sale
    </select>
    <select id="getSaleById" parameterType="com.winger.entity.Sales" resultType="com.winger.entity.Sales">
        select * from sale where product_id=#{id} and years=#{years}
    </select>
    <select id="getLimit" resultType="com.winger.entity.Sales">
        select * from sale where years=2020 limit 4
    </select>
</mapper>
